<form [formGroup]="addProjectForm">
  <div id="addProjectSection"> 
        <div *ngIf="validationError"  class="alert alert-danger">
          Please populate Project Name, Priority, StartDate and EndDate.          
        </div>
         <div class="row justify-content-start">
         <div class="col col-auto"></div>
         <div class="col col-1">
           <b>Project:</b>
         </div>
         <div class="col col-auto"><input type="text" size="78" class="form-control" formControlName="projectName" required/>          
         </div>
       </div>
       <br>
       <div class="row justify-content-start">
           <div class="col col-auto"></div>
           <div class="col col-1"></div>&nbsp;&nbsp;
           <div class="col col-auto">
               <input type="checkbox"  class="form-check-input" id="startEndDateCheckBox" formControlName="startEndDateCheckBox" (click)="defaultDates()">&nbsp;&nbsp;&nbsp;&nbsp;Set Start and End Date
           </div>
           <div class="col col-auto">
             <input type="date" class="form-control" formControlName="startDate" disabled placeholder="Start Date"  required >
             </div> 
             <div class="col col-auto">
               <input type="date" class="form-control" formControlName="endDate" disabled placeholder="End Date"  required>
               </div>
         </div>
         <br>
         <div class="row justify-content-start">
           <div class="col col-auto"></div>
           <div class="col col-1">
             <b><label for="formControlRange">Priority:</label></b>
           </div>
           <div class="col col-4">
             <span class="input-group-text" id="basic-addon1">0<input  size="75" type="range" max="30" min="0" class="form-control-range" id="formControlRange" step="1" formControlName="priority" >30</span>
           </div>
         </div>
         <br>
         <div class="row justify-content-start">
           <div class="col col-auto"></div>
           <div class="col col-1">
             <b>Manager:</b>
           </div>
           <div class="col col-auto">
             <input type="text"  size="64" class="form-control" formControlName="managerName"  disabled>
             </div>
             <div class="col col-2">
               <button   class="btn" type="button" data-toggle="modal" data-target="#userSearchModal">Search</button>
             </div>
         </div>
         <br>
         
             <div class="row justify-content-start">
                 <div class="col col-auto"></div>
                 <div class="col col-1"></div>
                 <div class="col col-auto" >
                   <button class="btn"  type="submit" id="button-addPoject" (click)="onSubmit()">Add</button>
                 </div>
                 <div class="col col-auto">            
                   <button class="btn" type="button" id="button-reset" (click)="reset()">Reset</button>
                 </div>
               </div>
       </div>
       <hr>
       <div id="viewProjectSection">
           <div class="row justify-content-start">
             
           <div class="col col-auto"></div>
           <div class="col col-1"></div>
           <div class="col col-auto"><input type="text" #projectSearchText size="78" class="form-control" formControlName="projectSearchName" placeholder="Search..." />          
                     </div>
         </div>
         <br>
         <div class="row justify-content-start">
             
           <div class="col col-auto"></div>
           <div class="col col-1"></div>
           <div class="col">
             Sort By:&nbsp;&nbsp;
               <button class="btn" type="button" id="button-sortStartDate" (click)="sortByStartDate(projectSearchText.value)">Start Date</button>&nbsp;&nbsp;
               <button class="btn" type="button" id="button-sortEndDate" (click)="sortByEndDate(projectSearchText.value)">End Date</button>&nbsp;&nbsp;
               <button class="btn" type="button" id="button-sortPriority" (click)="sortByPriority(projectSearchText.value)">Priority</button>&nbsp;&nbsp;
               <button class="btn" type="button" id="button-sortCompleted" (click)="search(projectSearchText.value)">Completed</button>
           </div>
         </div>
         <br>
         <div *ngFor="let projectItem of projectList">
           <div  class="row" >
               <div class="col col-1"></div>
             <div class="col col-4">
                 
               <div class="card">
                 <div class="card-header" >
                     Project:&nbsp;&nbsp;{{projectItem.project}}
                     <br>
                     <br>
                     
                     <div  class="row" >
                         <div class="col col-auto">No. of Tasks: &nbsp;&nbsp;{{projectItem.numberOfTasks}}</div>
                         <div class="col col-auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completed:&nbsp;&nbsp;{{projectItem.status}}</div></div>
                         <div  class="row" >
                             <div class="col col-auto"> 
                     Start Date: &nbsp;&nbsp;{{projectItem.startDate}}</div> <div class="col col-auto"> &nbsp;&nbsp;End Date:&nbsp;&nbsp;&nbsp;&nbsp;{{projectItem.endDate}}</div>
                 </div>
               </div>
             </div>
             </div>
             <div class="col col-auto">
                 Priority<br>
                 <div class="card">
                   <div class="card-header" >{{projectItem.priority}}<br><br><br></div>
                   
                 </div>  
               </div>
               <div class="col">
                   <button class="btn" type="button" id="button-update" (click)="update(taskItem)">Update</button><br><br> <button class="btn" type="button" id="button-suspend" (click)="suspend(taskItem.taskId)">Suspend</button>
 
                 </div>
               </div>
               <br>
         </div>
 
       </div>
 </form>

 <div class="modal fade" id="userSearchModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <b>User Name :</b> <input [(ngModel)]="userNameSearchText">
                </div>
            </div>
            <div class="row" *ngFor="let userItem of userList | filterUserName : userNameSearchText">
                <div class="col">
                  <div class="card" (click)="populateUserName(userItem.lastName + ' ' + userItem.firstName)" data-dismiss="modal">
                    <div class="card-header" >
                      <h5 class="card-title">{{userItem.lastName+ ' ' + userItem.firstName}}</h5>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>