<div class="row">
  <div class="col">
    <b>Project:&nbsp;&nbsp; </b> <input #projectSearchText size="40"/>&nbsp;&nbsp; <button class="btn" type="button-rounded" id="button-searchProject" (click)="search(projectSearchText.value)">Search</button>
  </div>
  <div class="col">
      <button class="btn" type="button" id="button-sortStartDate" (click)="sortByStartDate(projectSearchText.value)">Start Date</button>&nbsp;&nbsp;
      <button class="btn" type="button" id="button-sortEndDate" (click)="sortByEndDate(projectSearchText.value)">End Date</button>&nbsp;&nbsp;
      <button class="btn" type="button" id="button-sortPriority" (click)="sortByPriority(projectSearchText.value)">Priority</button>&nbsp;&nbsp;
      <button class="btn" type="button" id="button-sortCompleted" (click)="search(projectSearchText.value)">Completed</button>
  </div>
  
</div>


<br>
<hr>
    <div class="row" *ngFor="let taskItem of taskList">
      <div class="col">
        <b>Task</b> <br>
        <div class="card">
          <div class="card-header" >
            <h5 class="card-title">{{taskItem.task}}</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <b>Parent</b> <br>
        <div class="card">
          <div class="card-header" >
            <h5 class="card-title">{{taskItem.parentTask}}</h5>
          </div>
        </div>
      </div>

      <div class="col col-lg-1">
        <b>Priority</b> <br>{{taskItem.priority}}
      </div>

      <div class="col col-lg-1">
        <b>Start</b> <br>
        {{taskItem.startDate |  date:'MM/dd/yyyy'}}
      </div>

      <div class="col col-lg-1">
        <b>End</b> <br>
        {{taskItem.endDate |  date:'MM/dd/yyyy'}}
      </div>

      <div class="col">
        <br><button class="btn" type="button" id="button-edit" (click)="edit(taskItem)">Edit</button>&nbsp;&nbsp; <button class="btn" type="button" id="button-end" (click)="remove(taskItem.taskId)">End Task</button>
      </div>
    </div>


